@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="p-2">
        Build web page using .NET 5 based to next requirements:
        The library “TRAVEL” requires software to manage inventory, your mission is  create an app for see the books and details per book, please use the following MER  
    </p>
  
</div>
